:root{
    --default-primary:#F9F9F9;
    --default-secondary:#ffffff;
    --default-button:#0085FF;
    --default-shadow:#807A7A;
    --default-stroke:#E4DFDF;
}
.App{
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
