:root{
    --default-primary:#F9F9F9;
    --default-secondary:#ffffff;
    --default-button:#0085FF;
    --default-shadow:#807A7A;
}
.App{
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
.container{
    display: flex;
    width: 385px;
    height: 510px;
    border-radius: 12px;
    background-color: var(--default-secondary);
}
.form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.heading > h3{
    font-size: 20px;
}
.send-form{
    display: flex;
    flex-direction: column;
}